<%= form_with(model: attributes[0], local: true, class: 'needs-validation', novalidate: true) do |form| %>
  <% if attributes[0].errors.any? %>
    <div class="alert alert-danger">
      <h2><%= pluralize(attributes[0].errors.count, "error") %> prohibited this purchase from being saved:</h2>

      <ul>
        <% attributes[0].errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :name %>
    <%= form.text_field :name, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :amount %>
    <%= form.text_field :amount, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :category, class: 'invisible' %>
    <%= form.collection_select :category_id, attributes[1], :id, :name, { prompt: 'Choose category.....' }, class: 'form-control' %>
  </div>
<br>
  <div class="form-group">
    <%= form.submit "Save", class: 'btn btn-primary' %>
  </div>
<% end %>
