<div class="container">
  <div class="row">
    <div class="col-md-6">
      <ul class="list-unstyled">
        <li><%= link_to 'Back', categories_path, class: "btn btn-secondary" %></li>
        <li><h2><strong><%= @category.name %></strong></h2></li>
        <li><%= link_to 'Sign Out', destroy_user_session_path, method: :delete, class: "btn btn-danger", data: { turbo_method: :delete } %></li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <p class="text-success"><%= notice %></p>
    </div>
  </div>

  <%= render @category %>
  
  <section class="mt-3">
    <div>
      <% @purchases.each do |purchase| %>
        <%= render "purchases/purchase", purchase: purchase %>
      <% end %>
    </div>
  </section>
</div>

<section class="mt-3">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <a href="<%= new_category_purchase_path(@category) %>" class="btn btn-primary">
          New purchase
        </a>
      </div>
      <div class="col-md-6">
        <%= link_to edit_category_path(@category), class: "btn btn-info" do %>
          Edit category
        <% end %>
      </div>
      <div class="col-md-6 mt-3">
        <%= button_to "Delete category", @category, method: :delete, class: "btn btn-danger", data: { confirm: 'Are you sure?' } %>
      </div>
    </div>
  </div>
</section>
